
#Trafficlight{
    height: 220px;
    width: 100px;
    background-color: black;
    padding-top:10px;
    padding-bottom:10px;
    margin:auto;
    border-radius:5px;
}
h1{
    text-align:center;
}

.Red{
    height: 60px;
    width:60px;
    background-color: red;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;
 
}
.Yellow{
    height:60px;
    width:60px;
    background-color: yellow;
    border-radius: 50%;
    margin-bottom: 10px;
     margin-left:auto;
    margin-right:auto;
}
.Green{
    height:60px;
    width:60px;
    background-color: green;
    border-radius: 50%;
   
     margin-left:auto;
    margin-right:auto;
}